@import url(reset.css);
.full {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html,
body,
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
}
.container .header {
  width: 100%;
  height: 0.85rem;
  background: #282c2d;
  color: #fff;
  display: flex;
  line-height: 0.85rem;
}
.container .header p {
  font-size: 0.25rem;
}
.container .header p span img {
  width: 0.17rem;
  height: 0.25rem;
  background: none;
  margin-left: 0.25rem;
  margin-right: 0.08rem;
}
.container .header h1 {
  flex: 1;
  margin-left: 30%;
  font-size: 0.35rem;
}
.container .banner {
  width: 100%;
  height: 0.85rem;
  background: none;
  border-bottom: 1px solid #d2d1d6;
  display: flex;
}
.container .banner p:first-child {
  width: 28%;
  height: 0.45rem;
  background: none;
  border-right: 1px solid #d2d1d6;
  margin-top: 2%;
  font-size: 0.25rem;
  text-align: center;
  line-height: 0.45rem;
}
.container .banner p:first-child select {
  outline: none;
  border: none;
}
.container .banner P:nth-child(2) {
  width: 28%;
  height: 0.45rem;
  background: none;
  border-right: 1px solid #d2d1d6;
  margin-top: 2%;
  font-size: 0.25rem;
  text-align: center;
  line-height: 0.45rem;
}
.container .banner P:nth-child(2) select {
  outline: none;
  border: none;
}
.container .banner p:nth-child(3) {
  width: 28%;
  height: 0.45rem;
  background: none;
  border-right: 1px solid #d2d1d6;
  margin-top: 2%;
  font-size: 0.25rem;
  text-align: center;
  line-height: 0.45rem;
}
.container .banner p:nth-child(3) select {
  outline: none;
  border: none;
}
.container .banner p:last-child img {
  width: 0.46rem;
  height: 0.46rem;
  background: none;
  margin-left: 90%;
  margin-top: 42%;
}
.container .section {
  flex: 1;
  overflow: auto;
}
.container .section .one {
  display: flex;
}
.container .section .one .box {
  flex: 1;
  margin-top: 3%;
  margin-bottom: 1.5%;
  text-align: center;
}
.container .section .one .box p:first-child img {
  width: 3.4rem;
  height: 3.4rem;
  background: none;
}
.container .section .one .box p:nth-child(2) {
  font-size: 0.24rem;
  margin-top: 4%;
}
.container .section .one .box p:nth-child(3) {
  margin-top: 2%;
}
.container .section .one .box p:nth-child(3) span:first-child {
  font-size: 0.24rem;
  color: red;
  margin-right: 0.1rem;
}
.container .section .one .box p:nth-child(3) span:last-child {
  font-size: 0.2rem;
  color: #787a79;
  text-decoration: line-through;
}
.container .nav {
  width: 100%;
  height: 0.8rem;
  background: none;
}
.container .nav h1 {
  font-size: 0.3rem;
  line-height: 0.8rem;
  text-align: center;
  color: #79787e;
}
.container .center {
  flex: 1;
  overflow: auto;
}
.container .center .two {
  display: flex;
}
.container .center .two .box1 {
  width: 3.3rem;
  height: 2rem;
  background: none;
  border: 1px solid #79787e;
  text-align: center;
  line-height: 0.4rem;
  flex: 1;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
}
.container .center .two .box1 P:first-child img {
  width: 0.62rem;
  height: 0.62rem;
  background: none;
  margin-top: 3.5%;
}
.container .center .two .box1 p:nth-child(2) {
  font-size: 0.25rem;
}
.container .center .two .box1 p:last-child {
  font-size: 0.22rem;
  color: #79787e;
}
.container .three {
  flex: 1;
  overflow: auto;
}
.container .three .button {
  width: 50%;
  height: 0.8rem;
  background: none;
  margin: 0.5rem auto;
  border: 1px solid #d3d2d8;
  font-size: 0.3rem;
  text-align: center;
  line-height: 0.8rem;
}
.container .three .button:hover {
  border: 1px solid red;
}
.container .footer {
  width: 100%;
  height: 1.26rem;
  background: none;
  border-top: 1px solid #79787e;
}
.container .footer .o {
  width: 30%;
  height: 0.85rem;
  background: none;
  border: 1px solid #000;
  font-size: 0.3rem;
  margin-left: 3.2%;
}
.container .footer button:last-child {
  width: 60%;
  height: 0.88rem;
  background: #fe4847;
  margin-left: 3.2%;
  margin-top: 1%;
  color: #fff;
  font-size: 0.3rem;
}
